<GridLayout rows="2*, 6*, *" columns="*" class="p-y-30">
  <FlexboxLayout row="0" col="0" alignItems="center">
    <Label
      class="h2"
      [text]="'Select notification time for ' + username"
    ></Label>
  </FlexboxLayout>

  <FlexboxLayout row="1" col="0" alignItems="center" justifyContent="center">
    <TimePicker [formControl]="timeControl"></TimePicker>
  </FlexboxLayout>

  <FlexboxLayout class="buttons" row="2" col="1">
    <Button class="-primary -rounded-sm h2" text="Go back"></Button>
    <Button class="-primary -rounded-sm h2" text="Confirm"></Button>
  </FlexboxLayout>
</GridLayout>
