<FlexboxLayout class="main-container p-y-30">
  <Label class="h2" [text]="'Select notification time for ' + username"></Label>

  <TimePicker [formControl]="timeControl"></TimePicker>

  <FlexboxLayout class="buttons-container">
    <Button
      (tap)="goBack()"
      class="back-button -primary -rounded-sm h2"
      text="Go back"
    ></Button>
    <Button
      (tap)="changeNotificationTime()"
      class="confirm-button -primary -rounded-sm h2"
      text="Confirm"
    ></Button>
  </FlexboxLayout>
</FlexboxLayout>
