<GridLayout rows="*, 5*, *" columns="*" class="p-y-30">
  <StackLayout row="0" col="0" class="activity-container">
    <ActivityIndicator
      class="activity-indicator"
      [busy]="scanning"
    ></ActivityIndicator>
  </StackLayout>

  <RadListView
    row="1"
    col="0"
    [items]="detectedDevices"
    [selectionBehavior]="scanning ? 'None' : 'Press'"
    [multipleSelection]="false"
    (itemSelected)="onItemSelected($event)"
  >
    <ng-template tkListItemTemplate let-device="item" let-i="index">
      <FlexboxLayout
        class="text-center card-container"
        [backgroundColor]="i % 2 === 1 ? '#d3d3d3' : '#add8e6'"
      >
        <StackLayout>
          <Label class="font-weight-bold h2" text="Username"></Label>
          <Label class="h3" [text]="device.username || 'Unknown'"></Label>
        </StackLayout>
        <StackLayout>
          <Label class="font-weight-bold h2" text="MAC"></Label>
          <Label class="h3" [text]="device.mac"></Label>
        </StackLayout>
      </FlexboxLayout>
    </ng-template>
  </RadListView>

  <Button
    row="2"
    col="0"
    class="-primary restart-button -rounded-sm"
    text="Restart scan"
    (tap)="restartScan()"
    [isEnabled]="!scanning"
  ></Button>
</GridLayout>
