<GridLayout rows="*, 5*, *" columns="*" class="p-y-30">
  <StackLayout row="0" col="0" height="150" verticalAlignment="center">
    <ActivityIndicator
      height="75"
      width="75"
      [busy]="scanning"
    ></ActivityIndicator>
  </StackLayout>

  <ListView
    row="1"
    col="0"
    #listView
    [items]="detectedDevices"
    class="list-group text-center h2"
  >
  </ListView>

  <Button
    row="2"
    col="0"
    class="-primary start-button -rounded-sm"
    text="Restart scan"
    (tap)="restartScan()"
    [isEnabled]="!scanning"
  ></Button>
</GridLayout>
